# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/
LICENSE
index.rst
README.rst

# ===========================
# VS Code
# ===========================
.vscode/
.history/


# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Odoo Cache
# ===========================
*.pyc
.cache/